body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color:#fff;
  font-weight: normal;
  color: #404040;
}

p {
  line-height: 1.7em;
  margin-bottom: 1em;
}

.description {
  margin: auto;
  width: 85%;
  padding: 10px;  
}
.cv {
  margin: auto;
  width: 85%;
  padding: 10px;
}
.cv h2 { 
  font-weight: bold;  
  font-size: 120%;
}